.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado {
    text-align: center
}

.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
}
img {
    border-radius: 10px;
}
body {
    background: #CCCCCC;
    padding: 20px;
}

#banner {
    width: 100%;
}

p {
    text-align: center;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

#missao {
    font-size: 20px
}

em strong {
    color: #eb5e28;
}
ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
}